.square {
  background-color: #d6bc46;
  border: 1px solid #a38606;
  float: left;
  font-size: 2rem;
  font-weight: bold;
  line-height: 80px;
  height: 80px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
